* {
    margin: 1px;
    padding: 1px;
}

.container {
    margin: 0px auto;
    width: 90vw;
}

.container2 {
    margin: 0px auto;
    width: 90vw;
}

img {
    width: 400px;
    height: 370px;
    margin: 52px 0px 0px 70px;
    border-radius: 200px;
}

h1 {

    padding: 110px 392px 0px 0px;
    font-weight: bold;
    margin: 1px 0px 5px 0px;
    font-size: 40px;
    text-transform: capitalize;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.container2>div:nth-child(2)>h2:nth-child(2) {
    padding: 0px 2px 0px 292px;
    margin: 0px 0px 0px 0px;
    font-size: 40px;
}

img {

    margin: 52px 0px 0px 0px;
}

.container1>h3:nth-child(2) {
    font-size: 60px;
}


body {
    border: 8px solid purple;
    background: aliceblue;
}


.container1>p:nth-child(4) {
    line-height: 1.5;
    font-size: 20px;
}

.container1>h4:nth-child(5) {
    font-size: 22px;
}

.container1>ul:nth-child(6) {
    font-size: 20px;
}

.container>p:nth-child(2) {
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

* {
    margin: 1px;
    padding: 1px;
}

.container {
    margin: 0px auto;
    width: 90vw;
}

img {
    width: 400px;
    height: 370px;
    margin: 52px 0px 0px 70px;
    border-radius: 200px;
}

h1 {

    padding: 110px 392px 0px 0px;
    font-weight: bold;
    margin: 1px 0px 5px 0px;
    font-size: 40px;
    text-transform: capitalize;
}

.container2 {
    display: flex;
    justify-content: space-between;
}

.container2>div:nth-child(2)>h2:nth-child(2) {
    padding: 0px 2px 0px 292px;
    margin: 0px 0px 0px 0px;
    font-size: 40px;
}

.container2>div:nth-child(2)>h2:nth-child(3) {
    margin: -6px 0px 0px 440px;
    display: inline-block;
}

img {

    margin: 52px 0px 0px 0px;
}

body {
    border: 8px solid purple;
    background: aliceblue;
}

.container1>p:nth-child(4) {
    line-height: 1.5;
    font-size: 20px;
    text-align: justify;
}

.container>p:nth-child(2) {
    font-size: 25px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.container1>h4:nth-child(5) {
    text-align: center;
    font-size: 22px;
}

.container1>ul:nth-child(6) {
    text-align: justify;
    font-size: 20px;
}

img {
    width: 320px;
    margin: 28px 0px 0px -20px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 35px;
}

h1 {
    font-size: 40px;
}

p {
    text-align: justify;
    font-size: 18px;
}

.container>p:nth-child(2) {

    justify-content: center;
}

ul {
    font-size: 18px;
}